<!doctype html>
<html>

<head>
<title>FC SAMPLER</title>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->
<meta name="viewport" content="user-scalable=0"/>
<link rel="stylesheet" href="/static/style.css">
<script>
  function play(clicked) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/play/' + clicked.value);
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4) {
        if (xhr.status === 409) {
          clicked.classList.add("error");
          setTimeout(function() { clicked.classList.remove("error"); }, 500);
        } else {
          clicked.classList.add("success");
          setTimeout(function() { clicked.classList.remove("success"); }, 500);
        }
      }
    }
    xhr.send();
  }

  function search_sample() {
    let input = document.getElementById('searchbar').value;
    input=input.toLowerCase();
    let x = document.getElementsByClassName('sample_shortname_label');

    for (i = 0; i < x.length; i++) {
      var sample_short_name = x[i].firstChild.innerHTML.toLowerCase();
      if (!sample_short_name.includes(input)) {
        x[i].parentElement.style.display="none";
      }
      else {
        x[i].parentElement.style.display="block";
      }
    }
  }
</script>
</head>

<body>
  <header>
    <div id="search_container">
      <input type="text" placeholder="Search..." onkeyup="search_sample()" id="searchbar"/>
    </div>
    <div id="upload_container">
      <form method=post enctype=multipart/form-data id="upload-form">
        <input type=file name=file id="upload_input" onchange="document.getElementById('upload_submit').click()">
        <input type=submit value=Upload id="upload_submit">
      </form>
      <img src="/static/arrows.png" id="upload_img" onclick="document.getElementById('upload_input').click()"/>
  </div>
  </header>
  <div id="samples">
    {% for sample in samples %}
      <button class="example_c" value="{{ sample.index }}" onclick="play(this)">
        <div class="sample_index_label"><p>{{ sample.index }}</p></div>
        <div class="sample_shortname_label"><p>{{ sample.shortname }}</p></div>
      </button>
    {% endfor %}
    </div>
</html>

<style>

</style>
</html>